:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-primary-light: hsl(225, 49%, 44%);
  --color-shadow: hsl(145, 14%, 17%);
  --color-shadow-transparent: hsla(145, 14%, 17%, 0.66);
  --color-bright: hsl(240, 26%, 88%);
  --color-highlight: hsl(240, 26%, 88%);
  --gap: 24px;
  --size-font: 16px;
  --time-rotation: 13s;
  --k: 1;
}

.main {
  width: 100%;
  margin: 0px auto;
  background: radial-gradient(ellipse at 50% 50%, var(--color-shadow-transparent) 72%, transparent 92%), var(--color-bright);
  padding: 2px 0px;
}/*# sourceMappingURL=App.css.map */