@import './components/variables';

.main {
    width: 100%;
    margin: 0px auto;
    background:
        radial-gradient(ellipse at 50% 50%,
            var(--color-shadow-transparent) 72%, transparent 92%),
        var(--color-bright);
    padding: 2px 0px;
}