@import './components/variables';

// Fonts
@font-face {
    font-family: "Roboto mono";
    src: url(./asset/fonts/RobotoMono/RobotoMono-Regular.woff2),
        url(./asset/fonts/RobotoMono/RobotoMono-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto mono";
    src: url(./asset/fonts/RobotoMono/RobotoMono-Regular-Italic.woff2),
        url(./asset/fonts/RobotoMono/RobotoMono-Regular-Italic.woff);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto mono";
    src: url(./asset/fonts/RobotoMono/RobotoMono-Bold.woff2),
        url(./asset/fonts/RobotoMono/RobotoMono-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

// General selectors
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Roboto mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

body {
    background:
        radial-gradient(circle at -8% 96%, var(--color-primary) -16%, transparent 36%),
        radial-gradient(circle at 100% 13%, var(--color-secondary) 16%, transparent 66%),
        radial-gradient(ellipse at 76% 8%, var(--color-primary) 21%, transparent 52%),
        var(--color-secondary);
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    appearance: none;
    text-decoration: none;
}