:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-primary-light: hsl(225, 49%, 44%);
  --color-shadow: hsl(145, 14%, 17%);
  --color-shadow-transparent: hsla(145, 14%, 17%, 0.66);
  --color-bright: hsl(240, 26%, 88%);
  --color-highlight: hsl(240, 26%, 88%);
  --gap: 24px;
  --size-font: 16px;
  --time-rotation: 13s;
  --k: 1;
}

@font-face {
  font-family: "Roboto mono";
  src: url(./asset/fonts/RobotoMono/RobotoMono-Regular.woff2), url(./asset/fonts/RobotoMono/RobotoMono-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto mono";
  src: url(./asset/fonts/RobotoMono/RobotoMono-Regular-Italic.woff2), url(./asset/fonts/RobotoMono/RobotoMono-Regular-Italic.woff);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto mono";
  src: url(./asset/fonts/RobotoMono/RobotoMono-Bold.woff2), url(./asset/fonts/RobotoMono/RobotoMono-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Roboto mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

body {
  background: radial-gradient(circle at -8% 96%, var(--color-primary) -16%, transparent 36%), radial-gradient(circle at 100% 13%, var(--color-secondary) 16%, transparent 66%), radial-gradient(ellipse at 76% 8%, var(--color-primary) 21%, transparent 52%), var(--color-secondary);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */