@import '../variables';

.main {

    &__container {
        width: inherit;
        background-color: var(--color-primary-light);
        box-shadow:
            inset 120px 0px 100px -25px hsl(225, 54%, 50%),
            inset -120px 0px 100px -25px hsl(225, 54%, 50%),
            inset 0px -6px 6px 0px var(--color-shadow),
            inset 0px 6px 6px 0px var(--color-shadow);
        overflow: hidden;
    }

    &__content {
        margin: 0px auto;
        padding: var(--gap) 0px;
    }
}

.content {
    position: relative;
    max-width: 1920px;

    &__bg-image {
        position: absolute;
        aspect-ratio: 1/1;

        &:first-child {
            top: 0%;
            left: 0%;
            min-height: 180px;
            height: 50vw;
            max-height: 320px;
            --k: -1;
            animation: rotation-rel var(--time-rotation) infinite linear reverse;
        }

        &:nth-child(2) {
            top: 50%;
            left: 50%;
            min-height: 210px;
            height: 88%;
            max-height: 100vw;
            --k: -1;
            animation: rotation-rel var(--time-rotation) infinite linear;
        }

        &:nth-child(3) {
            bottom: 0%;
            right: 0%;
            min-height: 180px;
            height: 50vw;
            max-height: 320px;
            --k: 1;
            animation: rotation-rel var(--time-rotation) infinite linear reverse;
        }
    }
}

.linktree {
    display: grid;
    position: relative;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 80px;
    justify-content: center;
    margin: 0px auto;

    &__item {
        border-radius: 25% 0px 0px 25%;

        &:hover {
            --color-highlight: hsl(50, 95%, 75%);

            & .link {
                box-shadow:
                    0px 0px 3px 3px var(--color-shadow-transparent),
                    inset 32px 0px 32px 0px var(--color-secondary),
                    inset -36px 0px 32px 0px var(--color-secondary),
                    inset 0px 6px 4px 0px var(--color-highlight),
                    inset 0px -6px 4px 0px var(--color-highlight);

                &__ava-container {
                    box-shadow: 0px 0px 0px 8px var(--color-primary-light),
                        12px 0px 12px 0px var(--color-highlight);
                }

                &__ava {
                    animation: rotation calc(var(--time-rotation) / 1.5) infinite linear;
                }

                &__header {
                    text-shadow: 2px 3px var(--color-primary);
                }

                &__uri {
                    text-decoration: underline;
                    opacity: 1;
                }
            }
        }

        &:active {
            --color-highlight: var(--color-bright);

            & .link {
                box-shadow: 0px 0px 4px 4px var(--color-shadow-transparent);

                &__ava-container {
                    box-shadow: -2px 0px 0px 6px var(--color-shadow);
                }

                &__ava {
                    animation: rotation calc(var(--time-rotation) / 5) infinite ease-in-out reverse;
                }

                &__header {
                    left: 0%;
                    transform: translateX(0%);
                    text-align: left;
                    text-shadow: none;
                    opacity: 0.66;
                }

                &__uri {
                    text-decoration: overline;
                    opacity: 0.33;
                }
            }
        }
    }
}

.link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-bright);
    border-left: none;
    border-right: none;
    box-shadow:
        inset 32px 0px 32px 0px var(--color-secondary),
        inset -166px 0px 32px 0px var(--color-secondary),
        inset 0px 6px 4px 0px var(--color-highlight),
        inset 0px -6px 4px 0px var(--color-highlight);
    border-radius: 25% 0px 0px 25%;
    width: 100%;
    height: 100%;

    & * {
        transition: all 0.44s;
    }

    &__ava-container {
        flex-shrink: 0;
        @include wh(66px);
        border: 1px solid var(--color-bright);
        box-sizing: border-box;
        border-radius: 50%;
        box-shadow: -2px 0px 0px 6px var(--color-secondary);
        outline: 2px solid var(--color-highlight);
        outline-offset: 6px;
        z-index: 1;
    }

    &__ava {
        width: 100%;
        border-radius: inherit;
    }

    &__text-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        margin-right: calc(0.75 * var(--gap));
    }

    &__header {
        align-self: flex-start;
        position: relative;
        left: 100%;
        transform: translateX(-100%);
        margin: 0px;
        padding: 0px;
        color: var(--color-highlight);
        text-align: right;
    }

    &__uri {
        position: relative;
        left: 100%;
        transform: translateX(-100%);
        font-size: 14px;
        font-style: italic;
        color: var(--color-bright);
        opacity: 0.5;
    }
}

@keyframes rotation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotation-rel {
    0% {
        transform: translate(calc(50% * var(--k)), calc(50% * var(--k))) rotateZ(0deg);
    }

    100% {
        transform: translate(calc(50% * var(--k)), calc(50% * var(--k))) rotateZ(360deg);
    }
}