:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-primary-light: hsl(225, 49%, 44%);
  --color-shadow: hsl(145, 14%, 17%);
  --color-shadow-transparent: hsla(145, 14%, 17%, 0.66);
  --color-bright: hsl(240, 26%, 88%);
  --color-highlight: hsl(240, 26%, 88%);
  --gap: 24px;
  --size-font: 16px;
  --time-rotation: 13s;
  --k: 1;
}

.main__container {
  width: inherit;
  background-color: var(--color-primary-light);
  box-shadow: inset 120px 0px 100px -25px hsl(225, 54%, 50%), inset -120px 0px 100px -25px hsl(225, 54%, 50%), inset 0px -6px 6px 0px var(--color-shadow), inset 0px 6px 6px 0px var(--color-shadow);
  overflow: hidden;
}
.main__content {
  margin: 0px auto;
  padding: var(--gap) 0px;
}

.content {
  position: relative;
  max-width: 1920px;
}
.content__bg-image {
  position: absolute;
  aspect-ratio: 1/1;
}
.content__bg-image:first-child {
  top: 0%;
  left: 0%;
  min-height: 180px;
  height: 50vw;
  max-height: 320px;
  --k: -1;
  animation: rotation-rel var(--time-rotation) infinite linear reverse;
}
.content__bg-image:nth-child(2) {
  top: 50%;
  left: 50%;
  min-height: 210px;
  height: 88%;
  max-height: 100vw;
  --k: -1;
  animation: rotation-rel var(--time-rotation) infinite linear;
}
.content__bg-image:nth-child(3) {
  bottom: 0%;
  right: 0%;
  min-height: 180px;
  height: 50vw;
  max-height: 320px;
  --k: 1;
  animation: rotation-rel var(--time-rotation) infinite linear reverse;
}

.linktree {
  display: grid;
  position: relative;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 80px;
  justify-content: center;
  margin: 0px auto;
}
.linktree__item {
  border-radius: 25% 0px 0px 25%;
}
.linktree__item:hover {
  --color-highlight: hsl(50, 95%, 75%);
}
.linktree__item:hover .link {
  box-shadow: 0px 0px 3px 3px var(--color-shadow-transparent), inset 32px 0px 32px 0px var(--color-secondary), inset -36px 0px 32px 0px var(--color-secondary), inset 0px 6px 4px 0px var(--color-highlight), inset 0px -6px 4px 0px var(--color-highlight);
}
.linktree__item:hover .link__ava-container {
  box-shadow: 0px 0px 0px 8px var(--color-primary-light), 12px 0px 12px 0px var(--color-highlight);
}
.linktree__item:hover .link__ava {
  animation: rotation calc(var(--time-rotation) / 1.5) infinite linear;
}
.linktree__item:hover .link__header {
  text-shadow: 2px 3px var(--color-primary);
}
.linktree__item:hover .link__uri {
  text-decoration: underline;
  opacity: 1;
}
.linktree__item:active {
  --color-highlight: var(--color-bright);
}
.linktree__item:active .link {
  box-shadow: 0px 0px 4px 4px var(--color-shadow-transparent);
}
.linktree__item:active .link__ava-container {
  box-shadow: -2px 0px 0px 6px var(--color-shadow);
}
.linktree__item:active .link__ava {
  animation: rotation calc(var(--time-rotation) / 5) infinite ease-in-out reverse;
}
.linktree__item:active .link__header {
  left: 0%;
  transform: translateX(0%);
  text-align: left;
  text-shadow: none;
  opacity: 0.66;
}
.linktree__item:active .link__uri {
  text-decoration: overline;
  opacity: 0.33;
}

.link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-bright);
  border-left: none;
  border-right: none;
  box-shadow: inset 32px 0px 32px 0px var(--color-secondary), inset -166px 0px 32px 0px var(--color-secondary), inset 0px 6px 4px 0px var(--color-highlight), inset 0px -6px 4px 0px var(--color-highlight);
  border-radius: 25% 0px 0px 25%;
  width: 100%;
  height: 100%;
}
.link * {
  transition: all 0.44s;
}
.link__ava-container {
  flex-shrink: 0;
  width: 66px;
  height: 66px;
  border: 1px solid var(--color-bright);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: -2px 0px 0px 6px var(--color-secondary);
  outline: 2px solid var(--color-highlight);
  outline-offset: 6px;
  z-index: 1;
}
.link__ava {
  width: 100%;
  border-radius: inherit;
}
.link__text-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-right: calc(0.75 * var(--gap));
}
.link__header {
  align-self: flex-start;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  margin: 0px;
  padding: 0px;
  color: var(--color-highlight);
  text-align: right;
}
.link__uri {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  font-size: 14px;
  font-style: italic;
  color: var(--color-bright);
  opacity: 0.5;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotation-rel {
  0% {
    transform: translate(calc(50% * var(--k)), calc(50% * var(--k))) rotateZ(0deg);
  }
  100% {
    transform: translate(calc(50% * var(--k)), calc(50% * var(--k))) rotateZ(360deg);
  }
}/*# sourceMappingURL=style.css.map */