// Variables
:root {
    // Color
    --color-primary: hsl(215, 36%, 32%);
    --color-secondary: hsl(215, 36%, 21%);
    --color-primary-light: hsl(225, 49%, 44%);
    --color-shadow: hsl(145, 14%, 17%);
    --color-shadow-transparent: hsla(145, 14%, 17%, 0.66);
    --color-bright: hsl(240, 26%, 88%);
    --color-highlight: hsl(240, 26%, 88%);
    // Width & height
    --gap: 24px;

    // Sizes
    --size-font: 16px;
    // Time
    --time-rotation: 13s;
    // Graphs

    // Ratio
    --k: 1;
}

// Functions
@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin whImage($w, $h: auto) {
    max-width: $w;
    height: $h;
}